.App{
  text-align: center;
}

.question-card{
  margin: 0 auto;
  background-color: gray;
  border-radius: 16px;
  padding: 16px;
  color: gray;
  width: 80%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.correct{
  background-color: green;
  color: white;
}
.incorrect{
  background-color: red;
  color: white;
}
.outOf{
  color: white;
}
.currentScore{
  color: red;
}
.question-text{
  color: white;
  font-size: 30px;
}
li{
  background-color: white;
  font-size: 27px;
  padding: 16px;
  border-radius: 20px;
  margin-top: 8px;
  cursor: pointer;
  transform: scale();
  width: 90%;
}
li:hover{
  transform: scale(1.03);
}
.final-results{
  margin: 0 auto;
  background-color: gray;
  border-radius: 16px;
  padding: 16px;
  color: white;
  width: 50%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
}
button{
  background-color: red;
  color: white;
  width: 30%;
  font-size: 20px;
  border-radius: 16px;
  height: 40px;
  border: none;
  cursor: pointer;
}